.App {
  text-align: center;
}
  
.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

input {
  margin:5px;
}

.Menu {
  background-color: cyan
}

.form-add-transaction-modal {
  margin-top: 1px;
  height:26px;
}